:root {
  --primary: #00c398;
  --secondary: #023958;
  --tertiary: #a3ff12;
  --quaternary: #02273b;
  --section: #005468;
  --white: #ffffff;
  --border: rgba(255, 255, 255, 0.15);
  --text: rgba(255, 255, 255, 0.7);
  --swiper-pagination: rgba(255, 255, 255, 0.2);
  // font size
  --text-size: 16px;
  --text-md: 22px;
  --text-xl: 24px;
  --text-2xl: 36px;
  --text-3xl: 64px;
  --style-font-family: "Russo One";
}

@media all and (max-width: 600px) {
  :root {
    --text-size: 14px;
    --text-md: 20px;
    --text-xl: 22px;
    --text-2xl: 26px;
    --text-3xl: 48px;
  }
}
