@use "mixin" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 430px;
  background: var(--quaternary);
  padding: 30px;
  z-index: 0;
  cursor: pointer;
  user-select: none;
  &:hover {
    transition-duration: 0.2s;
    filter: brightness(0.9);
  }
}

.decoration-top-left,
.decoration-bottom-right {
  position: absolute;
  z-index: -1;
}

.decoration-top-left {
  top: 0;
  left: 0;
}

.decoration-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: 100%;
  padding-bottom: 30px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 30px;
  place-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-family: var(--style-font-family);
  color: var(--white);
  font-size: var(--text-md);
  @include truncate;
}

.price {
  color: var(--text);
}

.timmer {
  width: 200px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover !important;
  color: var(--secondary);
  font-family: var(--style-font-family);
  @include center;
}
